:root{--contentfamily:"Sora",sans-serif;
--headingfamily:"Crimson Text",serif;
--supportfamily:"Noto Sans",sans-serif;
}
body {
  margin: 0;

}
*{
  font-family: var(--supportfamily);
  outline:none;
}

