.row{
    width: 20rem;
    height: 12rem;
    margin: 1rem .5rem;
    transition:all .2s linear;
    position: relative;
}
.top-0{
    position: relative;
    font-size: .6rem;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.6);
}
.top-0 h1,
.top-0 p,
.top-0 h3{
    color:white;
    pointer-events:none;
}
.top-0 p{
    font-size: .8rem;
}
.top-0:hover > .pd-1 >.disp{
    display:block;
}
.top-0:hover > .pd-1 > .btns >.disp{
    display:block;
}
.row-trend{
    width: 22rem;
    height: 28rem;
    margin: 1rem .5rem;
    transition:all .2s linear;
    transform: scale(.9);
    margin: 0;
    border-radius: 10px;

}
.row-trend:hover{
    transform: scale(1);
}
.row-trend img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.row img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.append{
    position: relative;
    font-size: .6rem;
    top: -12.3rem;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.6);
    
    
}
.append-trend{
    position: relative;
    font-size: .6rem;
    top: -28.3rem;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.8);
    
}
.append-trend h1,
.append-trend p,
.append-trend h3{
    color:white;
    pointer-events:none;
}
.append-trend p{
    font-size: 1rem;
}
.down{
    top: 7rem;
    position: relative;
}
.append:hover{
    display:flex;
    justify-content:center;
    background: rgba(0,0,0,.8);
    
}
.row:hover{
    transform:scaleY(1.2);
    width:22rem;
}
.append:hover > .pd-1 >.disp,.append:hover > .pd-1 >.play{
    display:block;
}
.append:hover > .pd-1 > .btns >.disp,.append:hover > .pd-1 > .btns >.play{
    display:block;
}


.append h1,
.append p,
.append h3{
    color:white;
    pointer-events:none;
}
.append p{
    font-size: .8rem;
}
.pd-1{
    padding:1rem;
}
.disp{
    display:none;
}
.row:first-child:hover{
    margin-left: 1rem;
}
.btns{
    display:flex;
    align-items: center;
}
.trend{
    padding:.5rem .8rem;

}
.btns button{
    padding:.3rem .8rem;

}
.btns button{
    border: none;
    outline:none;
    background:crimson;
    color:white;
    cursor: pointer;
    transition:all .5s linear;
    border-radius: 10px;
}

.btns button:not(:first-child){
    margin-left: .8rem;
}
.btns button:focus{
    background:green;
}

.play,.t-play{
    background:crimson;
    font-size: 1.8rem;
    border-radius: 100%;
    cursor: pointer;
    color:#fff;

}
.play{
    display:none;
}
.trend-number{
    color:#fff;
    font-size: 1.7rem;
    position: absolute;
    top:-12rem;
    background:crimson;
    width:2.5rem;
    height:2.5rem;
    border-radius:100%;
    display: flex;
    justify-content: center;
}

.del{
    color:#fff;
    position: absolute;
    top: 0rem;
    right:0;
    font-size: 1.5rem;
    cursor: pointer;
}