.landing-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: fixed;
    z-index: 999;
    width: 97%;
}
.landing-nav img{
    width:70px;
}
.lsign-btn,.lsign-btn--333{
    padding: .5rem 2rem;
    border: 2px solid crimson;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    transition:all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 30px;
}
.lsign-btn{
   
    color:#fff;
}
.lsign-btn--333{

    color:#333;
}
.lsign-btn:hover{
    background:crimson;
    color: #fff;
}
.lsign-btn--333:hover{
    background:crimson;
    color: #fff;
}
.animated-scene {
    width: 100vw;
    height: 100vh;
    position: fixed;
    min-height: 400px;
    animation: infiniteScrollBg 50s linear infinite;
 }

 .animated-scene__frame {
     width: 100%;
     height: 100%;
     background-size: cover;
     background-color: #4277a3;
     
}
.bg--black--over{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
    linear-gradient(0deg, black, transparent);
    position:absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes infiniteScrollBg {
    0% {
      transform: translateY(0%);
    }
    100%{
      transform: translateY(-100%);
    }
  }
.landing-main-wrapper{
    width: 100%;
    
    min-height: 90vh;
}



.login-signup{
    width:70%;
    display: flex;
    justify-content: center;
    min-height: 50vh;
}
.lform form{
    width: 30rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    transition:all .5s linear;
    padding: 2rem 0rem;
    background: #fff;
    border-radius: 50px;
    
}
.lform form .inp-flex input{
    width: 15rem;
    padding: .5rem;
    font-size: 1rem;
    transition:all .5s linear;
    border:1px solid #333;
    border-radius: 10px;
}

.sign-btn{
    padding: .5rem 2rem;
    border: 2px solid crimson;
    font-size: 1rem;
    cursor: pointer;
    transition:all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.inp-flex{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1.2rem;
}


.active{
    background:crimson;
    color:white;
    pointer-events: none;
}
.error{
    color: crimson;
    font-size: .7rem;
    width: 15rem;
    line-height: 2
}
